name: Publish Allure Report

on:
  workflow_run:
    workflows: ["Run Auto Tests with Allure"]
    types:
      - completed

jobs:
  publish:
    runs-on: ubuntu-latest
    if: always()
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: 'gh-pages'
    
    - name: Download Allure Report
      uses: actions/download-artifact@v4
      with:
        name: allure-report
        path: allure-report
        github-token: ${{ secrets.GITHUB_TOKEN }}
        run-id: ${{ github.event.workflow_run.id }}
    
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./allure-report
        publish_branch: gh-pages
        keep_files: true
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'